<%-include("layout/header")%>
  <main>
  <body>
    <h1>Welcome to Web Authentication</h1><br><br>
    <p>
      Explore the various features of our site by navigating through the links
      in the menu above. Enjoy a stylish and user-friendly experience.
    </p><br>
    <!-- <button onclick="alert('Welcome!')"><b>Get Started</b></button> -->
    <button
      onclick="window.location.href='https://github.com/tanmayMt/Web-Authentication-ExpressJs/tree/main/passport-google-oauth20'">
      <b>View Authentication Project</b>
    </button>
  </body>
  </main>
  <%-include("layout/footer")%>