<%-include("layout/header")%>
<main>
  <h2>Register Page</h2><br>
  <form action="/register" method="post">
    <div>
      <label for="username">username: </label>
      <input type="text" id="username" name="username" />
    </div>
    <br />
    <div>
      <label for="password">password: </label>
      <input type="password" id="password" name="password" />
    </div>
    <br />
    <button type="submit"><b>Register</b></button>
  </form>
</main>
<%-include("layout/footer")%>
